<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
    <title>Welcome</title>
</head>

<body>
    <main>
        <section>
            Welcome to your profile, {{user.email}}
            <div>
                <a href="/users/logout">Logout</a>
            </div>
            
   
     
  <h3>{{time}}</h3>

 
  <div class="container">
    <h1>Bucket List of Vacation Spots!</h1>
    
    <br />
    <a href="/countryview"><button>Search Countries to Visit</button></a>
 
        </section>
    </main>
</body>

</html>

<!-- <a href="/viewDestination">Places 2 visit!</a> -->